{% load static %}
<link rel="stylesheet" href='{% static "css/Bear.css" %}' type="text/css" media="screen" >
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
<script type="text/javascript" src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
<html>

    <head>
        <title>Grafico</title>
    </head>
<!--    {% if graphic %}-->
<!--        <img src="data:image/png;base64,{{ graphic|safe }}">-->
<!--    {% endif %}-->

<!--    <div id="container">-->
<!--        <div class="holder">-->
<!--            <div class="box" draggable="true">-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="holder">-->
<!--        </div>-->
<!--    </div>-->

    <form action="{% url 'datas:upload_spreadsheet' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="col-md-3 col-sm-3 col-xs-12 control-label">File: </label>
            <div class="col-md-8">
                <input type="file" name="spreadsheet_file" id="spreadsheet_file" required="True" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3" style="margin-bottom:10px;">
                 <button class="btn btn-primary"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
            </div>
        </div>
    </form>

    <table style="width:100%">
<!--        {% if tables %}-->
<!--            {% for table in tables %}-->
<!--                {% if table %}-->
<!--                    {% for key, elem in table.items %}-->
<!--                    <tr>-->

<!--                        <td>{{elem.NOME_MITRA}}</td>-->
<!--                        <td>{{elem.DU}}</td>-->
<!--                        <td>{{elem.TAXA_AQUISICAO}}</td>-->
<!--                        <td>{{elem.Clusters}}</td>-->
<!--                    </tr>-->
<!--                    {% endfor %}-->
<!--                {% endif %}-->
<!--            {% endfor %}-->
<!--        {% endif %}-->
    </table>

    <h1>Some Line Charts loaded in Ajax!</h1>
    <h2>Chart.js</h2>
    <div style="display: block; width: 400px; height: 400px;">
    <canvas id="myChart" width="400" height="400"></canvas>
        </div>
</html>
<!--<script>-->
<!-- class App {-->

<!--  static init() {-->

<!--    App.box = document.getElementsByClassName('box')[0]-->

<!--    App.box.addEventListener("dragstart", App.dragstart)-->
<!--    App.box.addEventListener("dragend", App.dragend)-->

<!--    const containers = document.getElementsByClassName('holder')-->

<!--    for(const container of containers) {-->
<!--      container.addEventListener("dragover", App.dragover)-->
<!--      container.addEventListener("dragenter", App.dragenter)-->
<!--      container.addEventListener("dragleave", App.dragleave)-->
<!--      container.addEventListener("drop", App.drop)-->
<!--    }-->
<!--  }-->

<!--  static dragstart() {-->
<!--    this.className += " held"-->

<!--    setTimeout(()=>this.className="invisible", 0)-->
<!--  }-->

<!--  static dragend() {-->
<!--    this.className = "box"-->
<!--  }-->

<!--  static dragover(e) {-->
<!--    e.preventDefault()-->
<!--  }-->

<!--  static dragenter(e) {-->
<!--    e.preventDefault()-->
<!--    this.className += " hovered"-->
<!--  }-->

<!--  static dragleave() {-->
<!--    this.className = "holder"-->
<!--  }-->

<!--  static drop() {-->
<!--    this.className = "holder"-->
<!--    this.append(App.box)-->
<!--  }-->

<!--}-->

<!--document.addEventListener("DOMContentLoaded", App.init)-->

<!--</script>-->
<script>


var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart.Scatter(ctx, {
    data: {
        datasets: [
            {% for index_table, table in tables.items %}
            {
                label: 'Dataset '+'{{table.Name}}',
                borderColor: '{{table.Color}}',
                backgroundColor: '{{table.Color}}',

                data: [
                {% for key, elem in table.Data.items %}
                    {
                        x: {{elem.DU}},
                        y: {{elem.TAXA_AQUISICAO}}
                    },
                {% endfor %}
                ]
            },
            {% endfor %}
        ]
    }
});
</script>